//= template/header.html

<main>
    <section class="offer bg-secondary">
        <div class="container">
            <div class="offer__block offer-block">
                <h2 class="offer__title">Оставьте заявку на расчет</h2>
                <span class="offer__subtitle">и получите скидку 30% на изготовление скинали фартука для кухни</span>
                <form action="#" class="form offer__form">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="" class="form__label">Вид стекла</label>
                            <input type="text" class="input form__input">
                        </div>
                        <div class="form__group">
                            <label for="" class="form__label">Ширина, см</label>
                            <input type="text" class="input form__input">
                        </div>
                        <div class="form__group">
                            <label for="" class="form__label">Высота, см</label>
                            <input type="text" class="input form__input">
                        </div>
                    </div>
                    <!-- ./form__row -->
                    <div class="form__row form__row-checkbox">
                        <div class="form__checkbox">
                            <input class="checkbox" type="checkbox" id="offer__checkbox-1">
                            <label class="checkbox-label" for="offer__checkbox-1">
                                Монтаж
                            </label>
                        </div>
                        <div class="form__checkbox">
                            <input class="checkbox" type="checkbox" id="offer__checkbox-2">
                            <label class="checkbox-label" for="offer__checkbox-2">
                                Доставка
                            </label>
                        </div>
                    </div>
                    <!-- /.form__row -->
                    <div class="form__row">
                        <div class="form__group">
                            <input type="text" placeholder="Ваше имя" class="input form__input">
                        </div>
                        <div class="form__group">
                            <input type="tel" placeholder="Ваш телефон" class="input form__input">
                        </div>
                        <div class="form__group">
                            <input type="submit" value="Получить скидку" class="button form__button">
                        </div>
                    </div>
                </form>
                <!-- ./offer__form -->
            </div>
            <!-- ./offer__block -->
        </div>
    </section>
    <!-- ./offer -->
</main>

//= template/footer.html