//= template/header.html

<main>
    <section class="offer bg-secondary">
        <div class="container">
            <div class="offer__block offer-block">
                <h2 class="offer__title">Оставьте заявку на расчет</h2>
                <span class="offer__subtitle">и получите скидку 30% на изготовление скинали фартука для кухни</span>
                <form action="#" class="form offer__form">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="" class="form__label">Вид стекла</label>
                            <input type="text" class="input form__input">
                        </div>
                        <div class="form__group">
                            <label for="" class="form__label">Ширина, см</label>
                            <input type="text" class="input form__input">
                        </div>
                        <div class="form__group">
                            <label for="" class="form__label">Высота, см</label>
                            <input type="text" class="input form__input">
                        </div>
                    </div>
                    <!-- ./form__row -->
                    <div class="form__row form__row-checkbox">
                        <div class="form__checkbox">
                            <input class="checkbox" type="checkbox" id="offer__checkbox-1">
                            <label class="checkbox-label" for="offer__checkbox-1">
                                Монтаж
                            </label>
                        </div>
                        <div class="form__checkbox">
                            <input class="checkbox" type="checkbox" id="offer__checkbox-2">
                            <label class="checkbox-label" for="offer__checkbox-2">
                                Доставка
                            </label>
                        </div>
                    </div>
                    <!-- /.form__row -->
                    <div class="form__row">
                        <div class="form__group">
                            <input type="text" placeholder="Ваше имя" class="input form__input">
                        </div>
                        <div class="form__group">
                            <input type="tel" placeholder="Ваш телефон" class="input form__input">
                        </div>
                        <div class="form__group">
                            <input type="submit" value="Получить скидку" class="button form__button">
                        </div>
                    </div>
                </form>
                <!-- /.offer__form -->
            </div>
            <!-- /.offer__block -->
        </div>
    </section>
    <!-- /.offer -->

    <section class="features section">
        <div class="container">
            <h2 class="section-title section__title">Наши преимущества</h2>
            <div class="features-block">
                <div class="features-block__item">
                    <img src="img/features/feature-1.png" alt="Бесплатный дизайн-макет" class="features-block__image">
                    <p class="features-block__text">Бесплатный<br>дизайн-макет</p>
                </div>
                <!-- /.feature-block__item -->
                <div class="features-block__item">
                    <img src="img/features/feature-2.png" alt="Пожизненная гарантия" class="features-block__image">
                    <p class="features-block__text">Пожизненная<br>гарантия</p>
                </div>
                <!-- /.feature-block__item -->
                <div class="features-block__item">
                    <img src="img/features/feature-3.png" alt="Большой каталог изображений" class="features-block__image">
                    <p class="features-block__text">Большой каталог<br>изображений</p>
                </div>
                <!-- /.feature-block__item -->
                <div class="features-block__item">
                    <img src="img/features/feature-4.png" alt="100% соблюдение сроков" class="features-block__image">
                    <p class="features-block__text">100% соблюдение<br>сроков</p>
                </div>
                <!-- /.feature-block__item -->
                <div class="features-block__item">
                    <img src="img/features/feature-5.png" alt="Собственное производство" class="features-block__image">
                    <p class="features-block__text">Собственное<br>производство</p>
                </div>
                <!-- /.feature-block__item -->
                <div class="features-block__item">
                    <img src="img/features/feature-6.png" alt="Минимальная цена в городе от 1600 р за метр" class="features-block__image">
                    <p class="features-block__text">Минимальная цена в городе<br>от 1600 р за метр</p>
                </div>
                <!-- /.feature-block__item -->
            </div>
        </div>
    </section>
    <!-- /.futures -->
</main>

//= template/footer.html