		<!-- Footer -->
		
		<footer class="footer">
			<div class="container">
				<div class="footer-block">
					<div class="footer__description">
						<h4 class="footer__title">Фабрика скинали №1</h4>
						<span class="footer__subtitle">ведущий производитель скинали</span>
						<span class="footer__copyright">&copy; Фабрика скинали №1</span>
					</div>
					<div class="footer__pay-info">
						<img src="img/payment/payment-1.png" alt="" class="footer__pay-logo">
						<img src="img/payment/payment-2.png" alt="" class="footer__pay-logo">
						<img src="img/payment/payment-3.png" alt="" class="footer__pay-logo">
						<img src="img/payment/payment-4.png" alt="" class="footer__pay-logo">
					</div>
					<div class="footer__contacts">
						<a href="#" class="footer__phone">+7 499 123-45-67</a>
						<a href="#" class="footer__mail">5404177@mail.ru</a>
						<div class="footer-social">
							<a href="#" class="footer-social__link">
								<img src="img/social/social-1.png" alt="">
							</a>
							<a href="#" class="footer-social__link">
								<img src="img/social/social-2.png" alt="">
							</a>
							<a href="#" class="footer-social__link">
								<img src="img/social/social-3.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- end Footer -->

	

	<!-- Styles -->
	<link rel="stylesheet" href="css/main.min.css">
	//= styles.html
	<!-- End styles -->


	<!-- Scripts -->
	//= scripts.html
	<script src="js/common.js"></script>
	<!-- Spikmi -->
	<script type="text/javascript" src="https://spikmi.com/Widget?Id=485"></script>
	<!-- End scripts -->


</body>
</html>