<div class="modal" id="modal-consult">
    <div class="modal__wrap">
        <span class="close" data-close="true">+</span>
        <div class="modal-body modal__body">
            <h2>Получить консультацию</h2>
            <form action="#" class="form modal__form">
                <div class="form__row">
                    <input type="text" class="input form__input" placeholder="Ваше имя">
                </div>
                <div class="form-row">
                    <input type="tel" class="input form__input" placeholder="Ваш телефон">
                </div>
                <div class="form-row">
                    <input type="submit" value="Отправить" class="button form__button">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modal-question">
    <div class="modal__wrap">
        <span class="close" data-close="true">+</span>
        <div class="modal-body modal__body">
            <h2>Задайте нам вопрос</h2>
            <form action="#" class="form modal__form">
                <div class="form__row">
                    <input type="text" class="input form__input" placeholder="Ваше имя">
                </div>
                <div class="form-row">
                    <input type="tel" class="input form__input" placeholder="Ваш телефон">
                </div>
                <div class="form-row">
                    <input type="submit" value="Отправить" class="button form__button">
                </div>
            </form>
        </div>
    </div>
</div>