.navbar
    &-wrap
        display: flex
        align-items: center
        min-height: 80px
.menu
    &-button
        display: flex
        background-color: transparent
        border: none
        border-right: 1px solid #510bba
        border-left: 1px solid #510bba
        height: 80px
        width: 70px 
